.header a.section {
background: #CCC;
}
.header a:hover {
color: #FFF;
}
.header a.section {
color: #000 !important;
}
.header a.section {
background: #ccc;
}
.header a.logo:hover {
text-decoration: underline !important;
}